
<div class="row">
    <div class="col-12 offset-sm-2 col-sm-8 text-center mt-5">
        <h2>Account requested successfully!</h2>
        <p>
            Please check your email address for confirmation and we will notify you 
            once your account has been approved by a system administrator.
        </p>
    </div>
</div>