@{
    ViewData["Title"] = "AdminMenu";
}

@section navItems {
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Create" class="nav-link">Manage My Account</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Admin" class="nav-link"><b>Admin</b></a>
    </li>
}

<h2>Administrative Actions</h2>

<p>Here is a list of actions that an administrator can take.</p>

<div class="card">
    <img class="card-img-top" alt="Manage User Accounts Image Goes Here"/>
    <div class="card-body">
        <h3 class="card-title">
            <a asp-area="" asp-controller="" asp-action="ManageUserAccounts">Manage User accounts</a>
        </h3>
        <pre class="card-text">
        <b>Actions: </b>
        Approve Pending Accounts
        or
        Remove Users
        </pre>
    </div>
</div>

<div class="card">
    <img class="card-img-top" alt="Data Management Image Goes Here" />
    <div class="card-body">
        <h3 class="card-title">
            <a asp-area="" asp-controller="" asp-action="ManageData">Data Management</a>
        </h3>
        <pre class="card-text">
        <b>Actions: </b>
        Create New Data Entry
        or
        Edit Existing Entries
        </pre>
    </div>
</div>


