
@model ErgonomicsDatabase.Models.ViewModels.HomeViewModel

@section navItems {
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"><b>Home</b></a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Home" asp-action="Create" class="nav-link">Manage Account</a>
    </li>
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#torque" role="tab" aria-controls="home" aria-selected="true">Torque</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#force" role="tab" aria-controls="profile" aria-selected="false">Force</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="torque" role="tabpanel" aria-labelledby="home-tab">
        <br />

        <form>
            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="handle">Handle Type</label>
                    <select class="custom-select" asp-for="HandleID" asp-items="@Model.Handles">
                        <option>All</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="form-group mb-3">
                    <label for="posture">Posture</label>
                    <select class="custom-select" asp-for="PostureID" asp-items="@Model.Postures">
                        <option>All</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br />
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr />
                    <table class="table table-bordered table-hover shadow-sm rounded" id="myTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Object</th>
                                <th>Axis</th>
                                <th>Rotation</th>
                                <th>Posture</th>
                                <th>Hand</th>
                                <th>Subjects</th>
                                <th>Subject Age</th>
                                <th>Mean Strength</th>
                                <th>Strength SD</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody class="tbody-white"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="force" role="tabpanel" aria-labelledby="profile-tab">
        <h3>Force</h3>
    </div>
</div>

